<h1>Shuff!</h1>
<ul>
<% @categories.each do |category| %>
  <li>
    <%= link_to category.name, category %>
    <%= link_to '→', shuffle_category_links_path(category) %>
    <%= link_to 'x', category, :confirm => 'Are you sure?', :method => :delete %>
    </li>
<% end %>
</ul>

<h2>Add a new category</h2>
<%= render 'form' %>

<p><%= link_to 'Sign out', sign_out_path, :method => :delete %></p>
