<script type="text/javascript">
$(document).ready(function() {
$("#timer").keyup(function() {
  var time = $("#timer").val();
  if (time == "") 
    return;
  var old = $("#shuffle").attr("href");
  $("#shuffle").attr("href", old.replace(/=(.*)/,"="+time)); 
});
});
</script>


<div id="container">
<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>

<p><%= link_to 'Shuffle!', shuffle_category_links_path(@category, :timer => ""), :id => "shuffle" %> Set timer for <input type="text" size="2" id="timer" />s</p>

<ul>
<%= render @category.links %>
</ul>

<h2>Add a link</h2>
<%= render 'links/form' %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</div>
